<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <section class="marketing-site-three-up">
  <h2 class="marketing-site-three-up-headline"><b>Financial Solutions</b></h2>
  <hr>
  <div class="row medium-unstack">
    <div class="columns">
      <i class="fa fa-gg" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title"><b>CREDIT REPAIR</b></h4>
      <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
      <a href="#" class="round button">learn more</a>
    </div>
    <div class="columns">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title"><b>BUSINESS FINANCE</b></h4>
      <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
      <a href="#" class="round button">learn more</a>
    </div>
    <div class="columns">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title"><b>BUSINESS BROKER</b></h4>
      <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
      <a href="#" class="round button">learn more</a>
    </div>
  </div>
</section>


    </div>
</div>